body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

h1 {
  visibility: hidden;
}

h2 {
  font-size: 35px;
}

button {
  border: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 100px;
  padding: 10px;
  width: 110px;
  position: absolute;
  bottom: 35px;
}

button:hover {
  cursor: pointer;
}

#container {
  top: 130px;
  width: 920px;
  height: 500px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
}

#sedans button {
  color: hsl(31, 77%, 52%);
}

#sedans button:hover {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(31, 77%, 52%);
  border: 1px solid hsla(0, 0%, 100%, 0.75);
}

#suvs button {
  color: hsl(184, 100%, 22%);
}

#suvs button:hover {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(184, 100%, 22%);
  border: 1px solid hsla(0, 0%, 100%, 0.75);
}

#luxury button {
  color: hsl(179, 100%, 13%);
}

#luxury button:hover {
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(179, 100%, 13%);
  border: 1px solid hsla(0, 0%, 100%, 0.75);
}

#sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  padding: 45px;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
  padding: 45px;
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
  padding: 45px;
}

.description {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 925px) {
  #container {
    width: 750px;
  }

}

@media screen and (max-width: 375px) {
  button {
    position: relative;
    bottom: -35px;
  }

  #container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    width: 300px;
    height: fit-content;
    padding-bottom: 100px;
  }

  #sedans {
    border-radius: 10px 10px 0 0;
  }

  #sedans button {
    bottom: -30px;
  }

  #luxury button {
    bottom: -10px;
  }

  #suvs button {
    bottom: -15px;
  }

  #luxury {
    border-radius: 0 0 10px 10px;
  }
}
